body
{
    background-color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0px;
    align-items: center;
    overflow-x: hidden;
}
#header
{
    background-image: url("headphones_hero_1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
}
nav
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
ul
{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
}
ul li
{
    margin-right: 20px;
}
a
{
    text-decoration: none;
    color: #efefef;
}
a:hover
{
   color: #FF6565;
}
#hamburger
{
    display: none;
}
#call-to-action
{
    text-align: center;
    padding: 50px 20px;
    color: #fff;
    margin-top: 300px;
}
#call-to-action h2
{
    font-size: 36px;
    margin: 0;
    font-weight: normal;
}
#call-to-action h4
{
    font-size: 24px;
    margin: 0;
    font-weight: lighter;
}
button
{
    background-color: #FF6565;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 50px;
    margin-top: 50px;
}
button:hover
{
    opacity: 0.9;
}
button:active
{
    opacity: 0.9;
    background-color: #000;
}
#description
{
    color: #ffffff;
    margin: 20px auto;
    max-width: 800px;
    text-align: center;
    padding-bottom: 30px;
}
#description h4
{
    font-weight: lighter;
}

#what-we-do
{
    background-color: #ffffff;
    padding: 50px 20px;
    text-align: center;
    width: 70%;
    height:fit-content; 
    margin: auto;
}
#what-we-do-description
{
  margin-bottom: 5%;
  margin-top: 5%;
}
#features
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
#feature
{
  display: flex;
  flex-direction: column;
}
#Our-results
{
    background-image: url("headphones_hero_2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #ffffff;
}
#results-container
{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 20px;
    text-align: center;
}
#results
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
#results img
{
    width: 200px;
}
.individual-result
{
    position: relative;
}
.result-text
{
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 15px;
    right: 50px;

}
.result-text h3
{
    font-size: 20px;
    margin: 0;
    color: #ffffff;
}
.result-text p{
    margin-top: 0%;
    font-size: 12px;
}
#contact-us
{
    
    text-align: center;
    width: 60%;
    height: fit-content;
    padding-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
}
#contact-us h3
{
    margin-bottom: 50px;
}
form div{
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
    align-items: center;
}
.input
{
    border: none;
    border-bottom: 2px solid rgb(85, 85, 85);
}
#contact-us button
{
    margin-top: 2%;
}

#footer
{
    display: flex;
    flex-direction: column;
    background-color: #040636;
    padding-top: 4%;
    padding-right: 4%;
    padding-left: 4%;
    padding-bottom: 1%;
    
}
#footer h6
{
    color: #efefef;
    align-self: center;
    margin: 0;
}
#top-section
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
}
#top-section img
{
    width: 200px;
}
#socials-icons
{
    width: 100px;
    display: flex;
    flex-direction: row;

}
#socials-icons svg
{
    margin-right: 20px;   
    fill: #efefef;
    size: 20px;
}













@media (max-width: 768px) {
  body {
    padding: 0 10px;
  }

nav {
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }
ul
{
    display: none;
}
  #hamburger
  {
    display: block;
    cursor: pointer;
    margin-bottom: 10px;
    color: #ffffff;
  }
  #hamburger:active
  {
    color: #0f0f0f;
    ul {
      display: flex;
      flex-direction: column;
    }
  }

  ul {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
  }

  ul li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  #call-to-action {
    margin-top: 150px;
    padding: 30px 10px;
  }

  #call-to-action h2 {
    font-size: 24px;
  }

  #call-to-action h4 {
    font-size: 18px;
  }

  button {
    padding: 10px 16px;
    font-size: 16px;
  }
  #description {
    font-size: 14px;
    padding: 10px;
  }
}
